.hidden {
    display: none;
}

/*================RESET===============*/
ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*=================/RESET=============*/

/*============COMMON STYLES============*/

.container {
    max-width: 318px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*============/COMMON STYLES============*/

/*============PAGE-HEADER-STYLES============*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .header-logo {
        display: block;
        padding: 24px 0;
        margin-right: 120px;
    }

    .contacts {
        display: block;
        font-style: normal;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .contacts {
        margin-left: auto;
    }

    .contacts-item:not(:last-child) {
        margin-right: 40px;
    }

    .nav-item:not(:last-child) {
        margin-right: 40px;
    }

    .nav-list {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
}

/* ============== HERO STYLES ============*/

.hero-section {
    max-width: 320px;
    min-height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpg);
    background-size: cover;
}

.main-title {
    max-width: 216px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.order-service-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet.jpg);
    }

    .main-title {
        max-width: 511px;
        padding-top: 112px;
        padding-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;

    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: 1158px) {
        .hero-section {
            max-width: 1440px;
            min-height: 600px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop.jpg);
        }

        .main-title {
            min-width: 511px;
            padding-top: 188px;
            padding-bottom: 48px;
        }

    }

    @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop@2x.jpg);
        }
    }


    /* ============== /HERO SECTION STYLES ============*/

    /* ============== APPROACH STYLES ============*/

    .approach.section-padding {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .approach-list {
        display: flex;
        flex-direction: column;
        row-gap: 72px;
    }

    .approach-list-title {
        margin-bottom: 8px;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .approach-list-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .approach-list-item-icon {
        display: none;
    }

    @media screen and (min-width: 768px) {

        .approach-list {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
        }

        .approach-list-item {
            width: calc((100% - 24px) / 2);
        }

        .approach-list-title {
            text-align: left;
        }


    }

    @media screen and (min-width: 1158px) {

        .approach.section-padding {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .approach-list-item {
            width: calc((100% - 72px) / 4);
        }

        .approach-list-item-icon {
            display: flex;
            height: 112px;
            background-color: #f4f4fd;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
        }

    }


























    /* ============== /APPROACH STYLES ============*/

    /* ============== REVIEW STYLES ============*/

    /* ============== /REVIEW STYLES ============*/

    /* ============== PORTFOLIO STYLES ============*/

    /* ============== /PORTFOLIO STYLES ============*/

    /* ============== FOOTER STYLES ============*/

    /* ============== /FOOTER STYLES ============*/

    /* ============== MODAL WINDOW STYLES =======*/

    /* ============== /MODAL WINDOW STYLES =======*/