.hidden {
    display: none;
}

/*reset*/
ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*/reset*/

/*comon styles*/

.container {
    max-width: 318px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 767px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;

    }
}

/*/comon styles*/

/*page header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .header-logo {
        display: block;
        padding: 24px 0;
        margin-right: 120px;
    }

    .contacts {
        display: block;
        font-style: normal;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .contacts {
        margin-left: auto;
    }

    .contacts-item:not(:last-child) {
        margin-right: 40px;
    }

    .nav-item:not(:last-child) {
        margin-right: 40px;
    }

    .nav-list {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
}

/*mobile menu*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-radius: 50%;
    background-color: #e7e9fc;
    line-height: 0;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu-close:hover,
.modal-menu-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 168px;
}

.mobile-menu-nav-list-item-link-studio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.mobile-menu-nav-list-item-link-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-nav-list-item-link-contacts {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-adress-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-adress-list-item-link-tel {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
}

.mobile-menu-adress-list-item-link-email {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-list-item-link-portfolio:hover,
.mobile-menu-nav-list-item-link-portfolio:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}

.mobile-menu-nav-list-item-link-contacts:hover,
.mobile-menu-nav-list-item-link-contacts:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}

.mobile-menu-adress-list-item-link-email:hover,
.mobile-menu-adress-list-item-link-email:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}

.mobile-menu-social-links-list {
    display: flex;
    column-gap: 40px;
}

.mobile-menu-social-links-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-links-link:hover,
.mobile-menu-social-links-link:focus {
    background-color: #404bbf;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-menu {
        display: none;
    }
}

/*/mobile menu*/
/*/header/

    /*hero*/

.hero-section {
    max-width: 320px;
    min-height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpg);
    background-size: cover;
}

.main-title {
    max-width: 216px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.order-service-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet.jpg);
    }

    .main-title {
        max-width: 511px;
        padding-top: 112px;
        padding-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        max-width: 1440px;
        min-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop.jpg);
    }

    .main-title {
        min-width: 511px;
        padding-top: 188px;
        padding-bottom: 48px;
    }

}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop@2x.jpg);
    }
}

/*/hero*/

/*approach*/

.approach {
    max-width: 288px;
    min-height: 696px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.approach-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.approach-list-item {
    align-items: center;
}

.approach-list-title {
    padding-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.approach-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.approach-list-item-icon {
    display: none;
}

@media screen and (min-width: 768px) {

    .approach {
        max-width: 736px;
        min-height: 312px;
    }

    .approach-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .approach-list-item {
        width: calc((100% - 24px) / 2);
    }

    .approach-list-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {

    .approach {
        max-width: 1128px;
        min-height: 224px;
    }

    .approach.section-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .approach-list-item {
        width: calc((100% - 72px) / 4);
    }

    .approach-list-item-icon {
        display: flex;
        height: 112px;
        background-color: #f4f4fd;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

}

/*/approach*/


/*review*/

.review-section {
    max-width: 320px;
    min-height: 2232px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 96px;
    padding-bottom: 96px;
    background: #f4f4fd;
}

.review-title {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.review-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    align-items: center;
}

.review-list-item {
    width: 264px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.review-list-card {
    text-align: center;
    padding: 32px 16px;
}

.review-list-fullname {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.review-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.rev-social-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    padding: 8px;
    gap: 24px;
}

.rev-social-link-list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    fill: #f4f4fd;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rev-social-link-list-item-link:hover,
.rev-social-link-list-item-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {

    .review-section {
        max-width: 768px;
        min-height: 1224px;
    }

    .review-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }
}

@media screen and (min-width: 1158px) {

    .review-section {
        max-width: 1440px;
        min-height: 780px;
    }

    .review-section {
        display: block;
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 0;
        padding-right: 0;
    }

    .review-list {
        flex-direction: row;
        row-gap: 24px;
    }

    .review-list-item {
        width: calc((100% - 72px) / 4);
    }
}

/*/review*/

/*portfolio*/

.portfolio-section {
    max-width: 288px;
    min-height: 2752px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 96px;
    background: #fff;
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.portfolio-list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.portfolio-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-wrapper {
    position: relative;
    overflow: hidden;
}

*.portfolio-list-item-text-overlay {
    position: absolute;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-card {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-item-text-overlay {
    transform: translateY(0%);
}

@media screen and (min-width: 768px) {

    .portfolio-section {
        max-width: 736px;
        min-height: 1516px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-list-card {
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);

    }

}

@media screen and (min-width: 1158px) {

    .portfolio-section {
        max-width: 1128px;
        min-height: 1000px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-list-item {
        box-shadow: none;
        width: calc((100% - 48px) / 3);
    }

    .portfolio-list-card {
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-list-card:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/*/portfolio*/

/*/footer*/

.page-footer {
    max-width: 320px;
    min-height: 664px;
    margin-left: auto;
    margin-right: auto;
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.container.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 72px;

}

.logo-footer {
    display: block;
    width: 288px;
    text-align: center;
}

.logo-footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-logo .logo-part {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.page-footer-text {
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.icons-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 208px;
}

.icons-footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.icons-footer-list {
    display: flex;
    width: 208px;
    padding-top: 16px;
    gap: 16px;
}

.icons-footer-list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icon {
    fill: #f4f4fd;
}

.icons-footer-list-item-link:hover,
.icons-footer-list-item-link:focus {
    background-color: #31d0aa;
}

.page-footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
}

.page-footer-subscribe-title {
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

}

.page-footer-subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-footer-subscribe-form-input {
    margin-bottom: 16px;
    padding-left: 32px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 288px;
    height: 40px;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-subscribe-form-input:hover,
.page-footer-subscribe-form-input:focus {
    border: 1px solid #4d5ae5;
}

.page-footer-subscribe-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
}

.page-footer-subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-subscribe-btn:hover,
.page-footer-subscribe-btn:focus {
    background: #404bbf;
}

.page-footer-subscribe-btn-icon {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {

    .page-footer {
        max-width: 768px;
        min-height: 456px;
        padding-left: 108px;
        padding-right: 108px;
    }

    .container.footer {
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .logo-footer {
        text-align: left;
        width: 285px;
        padding-right: 24px;
    }

    .icons-footer {
        align-items: flex-start;
    }

    .page-footer-subscribe {
        width: 453px;
        align-items: flex-start;
    }

    .page-footer-subscribe-form-input {
        width: 264px;
    }

    .page-footer-subscribe-form {
        flex-direction: row;
        align-items: flex-start;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {

    .page-footer {
        max-width: 1440px;
        min-height: 312px;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container.footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container.footer {
        align-items: baseline;
    }

    .logo-footer {
        padding-right: 0;
        margin-right: 120px;
        width: 264px;
    }

    .icons-footer {
        margin-right: auto;
    }
}

/*modal windows*/

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 16px 16px;
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-radius: 50%;
    background-color: #e7e9fc;
    line-height: 0;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus+.review-form-input-icon {
    fill: #4d5ae5;
}

.review-form-input:focus {
    outline: none;
    border-color: #4d5ae5;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-wrapper-comment {
    margin-bottom: 16px;
}

.review-form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
    outline: none;
    border-color: #4d5ae5;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked+.review-form-checkbox-label>.review-form-custom-checkbox {
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
    border: none;
}

.review-form-checkbox:focus+.review-form-checkbox-label>.review-form-custom-checkbox {
    border-color: #404bbf;
}

.review-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.review-form-policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 23px;

}

.review-form-submit-button {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.review-form-submit-button:hover,
.review-form-submit-button:focus {
    background: #404bbf;
}

@media screen and (min-width: 768px) and (min-width: 1158px) {

    .modal {
        padding: 72px 24px 16px 24px;
        width: 408px;
        min-height: 584px;
    }

    .review-form-custom-checkbox {
        margin-right: 8px;
    }

    .review-form-policy-link {
        margin-left: 0;
    }

}

/*/modal windows*/